In [1]:
import pandas as pd
import numpy as np

In [2]:
a=pd.read_csv("Iris.csv")
a

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
a.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
x=a.iloc[:,:-1]
x

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [7]:
y=a.iloc[:,-1:]
y

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [19]:
y.value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [20]:
y.replace(["Iris-setosa","Iris-versicolor","Iris-virginica"],[0,1,2],inplace=True)

C:\Users\Umar\anaconda3\lib\site-packages\pandas\core\frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [22]:
y

     Species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

In [21]:
from tensorflow.keras.utils import to_categorical

In [23]:
from sklearn .model_selection import  train_test_split

In [24]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,shuffle=True,random_state=150)

In [25]:
import tensorflow
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [28]:
model=Sequential()
model.add(Dense(32,input_shape=(5,),activation="relu"))#input layer
model.add(Dense(32,activation="relu"))#hidden layer
model.add(Dense(3,activation="softmax"))#output layer

model.compile(optimizer="adam",loss="sparse_categorical_crossentropy",metrics=["accuracy"])
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 32)                192
_________________________________________________________________
dense_13 (Dense)             (None, 32)                1056
_________________________________________________________________
dense_14 (Dense)             (None, 3)                 99
=================================================================
Total params: 1,347
Trainable params: 1,347
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.fit(xtrain,ytrain,validation_split=0.2,epochs=25)

Epoch 1/25
3/3 [==============================] - 0s 101ms/step - loss: 2.1864 - accuracy: 0.3125 - val_loss: 1.0497 - val_accuracy: 0.5833
Epoch 2/25
3/3 [==============================] - 0s 8ms/step - loss: 1.0628 - accuracy: 0.4062 - val_loss: 1.2934 - val_accuracy: 0.2500
Epoch 3/25
3/3 [==============================] - 0s 7ms/step - loss: 1.0166 - accuracy: 0.4271 - val_loss: 0.9572 - val_accuracy: 0.5417
Epoch 4/25
3/3 [==============================] - 0s 9ms/step - loss: 1.0128 - accuracy: 0.4167 - val_loss: 0.9280 - val_accuracy: 0.5417
Epoch 5/25
3/3 [==============================] - 0s 7ms/step - loss: 0.9431 - accuracy: 0.4583 - val_loss: 0.8980 - val_accuracy: 0.4167
Epoch 6/25
3/3 [==============================] - 0s 7ms/step - loss: 0.8190 - accuracy: 0.5417 - val_loss: 0.8874 - val_accuracy: 0.5417
Epoch 7/25
3/3 [==============================] - 0s 10ms/step - loss: 0.7886 - accuracy: 0.7604 - val_loss: 0.7628 - val_accuracy: 0.8333
Epoch 8/25
3/3 [==============================] - 0s 8ms/step - loss: 0.7576 - accuracy: 0.6979 - val_loss: 0.6852 - val_accuracy: 0.7083
Epoch 9/25
3/3 [==============================] - 0s 12ms/step - loss: 0.7225 - accuracy: 0.6146 - val_loss: 0.7335 - val_accuracy: 0.6250
Epoch 10/25
3/3 [==============================] - 0s 7ms/step - loss: 0.6989 - accuracy: 0.6875 - val_loss: 0.8049 - val_accuracy: 0.4583
Epoch 11/25
3/3 [==============================] - 0s 9ms/step - loss: 0.6776 - accuracy: 0.6771 - val_loss: 0.6596 - val_accuracy: 0.6667
Epoch 12/25
3/3 [==============================] - 0s 9ms/step - loss: 0.6260 - accuracy: 0.7500 - val_loss: 0.6113 - val_accuracy: 0.7500
Epoch 13/25
3/3 [==============================] - 0s 11ms/step - loss: 0.6199 - accuracy: 0.7500 - val_loss: 0.6161 - val_accuracy: 0.7917
Epoch 14/25
3/3 [==============================] - 0s 8ms/step - loss: 0.5679 - accuracy: 0.8021 - val_loss: 0.5636 - val_accuracy: 0.8333
Epoch 15/25
3/3 [==============================] - 0s 8ms/step - loss: 0.5554 - accuracy: 0.8125 - val_loss: 0.5800 - val_accuracy: 0.7083
Epoch 16/25
3/3 [==============================] - 0s 9ms/step - loss: 0.5135 - accuracy: 0.8333 - val_loss: 0.5080 - val_accuracy: 0.8750
Epoch 17/25
3/3 [==============================] - 0s 8ms/step - loss: 0.4893 - accuracy: 0.8542 - val_loss: 0.5285 - val_accuracy: 0.7917
Epoch 18/25
3/3 [==============================] - 0s 8ms/step - loss: 0.4776 - accuracy: 0.8229 - val_loss: 0.5486 - val_accuracy: 0.7500
Epoch 19/25
3/3 [==============================] - 0s 8ms/step - loss: 0.4397 - accuracy: 0.8542 - val_loss: 0.4560 - val_accuracy: 0.8333
Epoch 20/25
3/3 [==============================] - 0s 9ms/step - loss: 0.4273 - accuracy: 0.8646 - val_loss: 0.4662 - val_accuracy: 0.7917
Epoch 21/25
3/3 [==============================] - 0s 9ms/step - loss: 0.4063 - accuracy: 0.8646 - val_loss: 0.5606 - val_accuracy: 0.6667
Epoch 22/25
3/3 [==============================] - 0s 9ms/step - loss: 0.4078 - accuracy: 0.8854 - val_loss: 0.4662 - val_accuracy: 0.7917
Epoch 23/25
3/3 [==============================] - 0s 9ms/step - loss: 0.3936 - accuracy: 0.8750 - val_loss: 0.4189 - val_accuracy: 0.8750
Epoch 24/25
3/3 [==============================] - 0s 8ms/step - loss: 0.3961 - accuracy: 0.8542 - val_loss: 0.4881 - val_accuracy: 0.7500
Epoch 25/25
3/3 [==============================] - 0s 8ms/step - loss: 0.4059 - accuracy: 0.8333 - val_loss: 0.4850 - val_accuracy: 0.7917

In [31]:
np.round(model.predict(xtest))

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]], dtype=float32)

In [32]:
model.evaluate(xtest,ytest)

1/1 [==============================] - 0s 1ms/step - loss: 0.3562 - accuracy: 0.9333

[0.35617539286613464, 0.9333333373069763]